li {
  list-style: none;
}

#tile-container{
  border: 3px solid;
}

.card-container{
display:flex;
flex-direction: row;
}

.employee-tile{
  
  display:flex;
}
.day{
  height:150px;
  width: 150px;
  border: 3px solid;
}

.name-container{
  width:150px;
}

.shift{
  width:200px;
  border: 2px solid;
  padding: 15px;
  margin: 5px;
  
}